flake8; python_version >= '3.6'
flake8-bugbear; python_version >= '3.6'
flake8-pyi; python_version >= '3.6'
pytest>=4.4.1; python_version >= '3.4'
pytest-xdist>=1.18; python_version >= '3.4'
pytest-cov>=2.4.0; python_version >= '3.4'
typing>=3.6.1; python_version <= '3.4'
