name: Test and lint

on:
  push:
  pull_request:

permissions:
  contents: read

jobs:
  linting:
    name: Lint

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3
        uses: actions/setup-python@v2
        with:
          python-version: 3
          cache: "pip"
          cache-dependency-path: "test-requirements.txt"

      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip install -r test-requirements.txt

      - name: Lint implementation
        run: flake8
